PushDemo/bin
PushDemo/.directory
PushDemo/.DS_Store
PushDemo/*.class
PushDemo/*~
PushDemo/gen
PushDemo/target
PushDemo/project.properties

TaskMob/bin
TaskMob/.directory
TaskMob/.DS_Store
TaskMob/*.class
TaskMob/*~
TaskMob/gen
TaskMob/target
TaskMob/project.properties

tmp
*.iws
*.ipr
*.iml
